<nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="routeAbout">Doing</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="routeTaskList" routerLinkActive="active">Task List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="routeNewTask" routerLinkActive="active">New Task</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
